<a href="https://colab.research.google.com/github/Lu1zPrim0/Python0/blob/main/PYTHON_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON - SINTAXE BÁSICA

# Declaração de variável

- Uma variável é um nome que você dá a um valor armazenado na memória do computador que funciona como uma "caixa" onde você guarda dados.

In [ ]:
x = "gabriel" # atribuindo valor a variável X
print(x) # expresse o valor de x

gabriel

In [ ]:
idade = int(input("qual sua idade?")) # A função input() é usada para receber dados digitados pelo usuário
y =  idade + 10
print(f"a minha idade daqui a dez anos é  {y} e tenho {idade} anos.")

qual sua idade?26
a minha idade daqui a dez anos é  36 e tenho 26 anos.


# Tipos de dados básicos

Em Python, as variáveis são dinamicamente tipadas. Os tipos basicos de dados são float, int, bool e string.

- Você não precisa declarar o **tipo** de dado explicitamente (como em outras linguagens). O Python infere o tipo automaticamente com base no valor atribuído.

In [ ]:
#type() é capaz de identificar o tipo de dado de determinada variavel

print(type('Everton'))

print(type (5))

print(type (57.2))

<class 'str'>
<class 'int'>
<class 'float'>

## String
**As** strings são o tipo de dado que se define por caracteres representados por aspas simples ou duplas.

In [ ]:
#string, Tudo o que não é número.
print('f')
print('Olá, mundo!') #aspas simples
print("Olá, mundo!") #aspas duplas
print('10') #número
print(" ") #espaço em branco
print() #linha em branco
print('@!#?@!') #caracter especial

Olá, mundo!
Olá, mundo!
10


@!#?@!

## Int
Universo númerico inteiro

In [ ]:
print(26) #int, são os números positivos, negativos e o zero, que não possuem parte decimal
numero_de_irmaos = 3
temperatura = -10

## Float
Números partidos

In [ ]:
# Os tipos de dados que representam formas númericas são dois INT e FLOAT, o primeiro sobre números inteiros e o segundo sobre números "quebrados" representado por ponto e não virgula.
print(7) #int
print(7,1) #float

In [ ]:
print(26.0) #float, pontos flutuantes, são os números que possuem parte decimal
peso = 68.5
pi = 3.14159

## Bool
Dados binários

In [ ]:
print(True) #bool, dado de apenas dois valores binários.
print(False) #bool, dado de apenas dois valores binários.

In [ ]:
#bool é a variável booleana, dual, afirmativa e negativa:
ativo = True
print(ativo)  # Saída: True
print(type(ativo))  # Saída: <class 'bool'>

True
<class 'bool'>

In [ ]:
# Qualquer dado pode ser convertido para Bool, enquanto zero, strings vazias e listas vazias são convertidos para False, e os demais são para True.
print(bool(0))      # Saída: False
print(bool(""))     # Saída: False
print(bool([]))     # Saída: False
print(bool("Oi"))   # Saída: True
print(bool(1))      # Saída: True

False
False
False
True
True

# Operadores aritméticos

Atribuição: =

Igualdade: ==

Soma: +

Subtração: -

Multiplicação: *

Divisão: /

Potência: **

Divisão inteira: //

Resto da divisão: %

In [ ]:
# Atribuir um valor a uma variável.
x = 10  # Atribui o valor 10 à variável x
y = 5   # Atribui o valor 5 à variável y
print(x, y)

10 5

In [ ]:
# Adição
a = 5
b = 3
resultado = a + b
print(resultado)  # Saída: 8

8

In [ ]:
#Subtração
a = 5
b = 3
resultado = a - b
print(resultado)  # Saída: 2

In [ ]:
#Multiplicação
a = 5
b = 3
resultado = a * b
print(resultado)  # Saída: 15

In [ ]:
# Divisão
a = 5
b = 2
resultado = a / b
print(resultado)  # Saída: 2.5

In [ ]:
# Divisão Inteira
a = 5
b = 2
resultado = a // b
print(resultado)  # Saída: 2

In [ ]:
# Resto da Divisão
a = 5
b = 2
resultado = a % b
print(resultado)  # Saída: 1

In [ ]:
# Potencialização
a = 2
b = 3
resultado = a ** b
print(resultado)  # Saída: 8

8

In [ ]:
# Python permite a simplificação com combinação de operadores em atribuição (=)
a = 5
a += 3  # Equivalente: a = a + 3
print(a)  # Saída: 8

c = 2
c **= 3  # Equivalente: c = c ** 3
print(a)  # Saída: 8

8
8

In [ ]:
# == Compara dois valores e retorna True ou False
a = 10
b = 5
c = 10
resultado1 = (a == b)  # Compara se a é igual a b
resultado2 = (a == c)  # Compara se a é igual a c
print(resultado1)      # Saída: False
print(resultado2)      # Saída: True

False
True

In [ ]:
# Conversão de um tipo em outro

# int() - Converte para inteiro
int()          # Saída: 0 (conversão de um valor vazio para inteiro retorna 0)
int(1.9)       # Saída: 1 (converte float para int, descartando a parte decimal)
int(True)      # Saída: 1 (True é convertido para 1)
int(False)     # Saída: 0 (False é convertido para 0)
int("2")       # Saída: 2 (converte a string "2" para o inteiro 2)

# float() - Converte para float
float()        # Saída: 0.0 (conversão de um valor vazio para float retorna 0.0)
float(1)       # Saída: 1.0 (converte o inteiro 1 para float 1.0)
float(True)    # Saída: 1.0 (True é convertido para 1.0)
float(False)   # Saída: 0.0 (False é convertido para 0.0)
float("2")     # Saída: 2.0 (converte a string "2" para o float 2.0)

# str() - Converte para string
str(2)         # Saída: "2" (converte o inteiro 2 para a string "2")
str(2.1)       # Saída: "2.1" (converte o float 2.1 para a string "2.1")
str(True)      # Saída: "True" (converte o booleano True para a string "True")
str(False)     # Saída: "False" (converte o booleano False para a string "False")

'False'

==
!=
<
>

# Manipulação de String

In [ ]:
# enquanto a adição é o nome que se dá a soma de int e float, as strings usam a concatenação:

print (7 + 2) #soma

print(7.2 + 2.8) #soma

print('7' + '2') #concatenação

9
10.0
72

In [ ]:
#Concatenar

nome = "Luiz"
sobrenome = "Primo"
nome_completo = nome + " " + sobrenome
print(nome_completo)

In [ ]:
# Replica

print("Ha" * 3)
linha = "-" * 30
print(linha)

## Funções para manipulação de **strings**

In [ ]:
# Maisculo

frase = "Python é divertido"
print(frase.upper())

PYTHON É DIVERTIDO

In [ ]:
# Minusculo

frase = "Python É Divertido"
print(frase.lower())

python é divertido

In [ ]:
# Quebrar a string em partes

frase = "Aprender Python é divertido"
palavras = frase.split()
print(palavras)

['Aprender', 'Python', 'é', 'divertido']

In [ ]:
# Remover espaços em branco
mensagem = "   Olá, mundo!   "
print(mensagem.strip())

Olá, mundo!

In [ ]:
# Retorna o número de caracteres, Comprimento da string

frase = "Python é incrível"
print(len(frase)) #Conta letras, espaços, acentos, pontuação

17

## Verificadores de strings

In [ ]:
#O método .isalpha() verifica se todos os caracteres da string são letras do alfabeto (A-Z, a-z).
print("Python".isalpha())  # Saída: True (todos os caracteres são letras)
print("Python3".isalpha()) # Saída: False (contém um número)
print("Py thon".isalpha()) # Saída: False (contém um espaço)
print("".isalpha())        # Saída: False (string vazia)

True
False
False
False

In [ ]:
# O método .isnumeric() (ou .isdigit()) verifica se todos os caracteres da string são números (0-9).
print("123".isnumeric())    # Saída: True (apenas números)
print("123".isdigit())      # Saída: True (apenas números)
print("12.3".isnumeric())   # Saída: False (contém um ponto)
print("12.3".isdigit())     # Saída: False (contém um ponto)
print("⅕".isnumeric())      # Saída: True (caractere numérico em Unicode)
print("⅕".isdigit())        # Saída: False (não é um dígito de 0 a 9)
print("Python".isnumeric()) # Saída: False (contém letras)
print("".isnumeric())       # Saída: False (string vazia)

True
True
False
False
True
False
False
False

In [ ]:
# O método .isalnum() verifica se todos os caracteres da string são letras do alfabeto (A-Z, a-z) ou números (0-9)
print("Python3".isalnum())  # Saída: True (letras e números)
print("Python!".isalnum())  # Saída: False (contém um caractere especial)
print("123".isalnum())      # Saída: True (apenas números)
print("Py thon".isalnum())  # Saída: False (contém um espaço)
print("".isalnum())         # Saída: False (string vazia)

True
False
True
False
False

# Estruturas Condicionais

## Marcadores e comparadores

### Comparadores

Igual =

Diferente !=

Maior >

Maior ou igual >=

Menor <

Menor ou igual <=



###Lógicos:

and (e)

or (ou)

not (não)

## If, else e elif

### if (se), else (senão)  e elif (senão se)

In [ ]:
# Estrutura Simples de IF
numero = 9
if numero > 0: # Se "numero" for maior que zero...
    print("O número é positivo.")
else:
    print("O número é negativo.")  # Saída: O número é negativo.

O número é positivo.

In [ ]:
# Estrutura Composta de IF
numero = 0
if numero > 0:  # Se "numero" for maior que zero:
    print("O número é positivo.")
elif numero < 0: # Se "numero" for menor que zero:
    print("O número é negativo.")
else: #Caso não seja nem maior e nem menor:
    print("O número é zero.")  # Saída: O número é zero.

O número é zero.

In [ ]:
# Estrutura de IF dentro do IF
idade = 18
tem_carteira = True

if idade >= 18: # Se "idade" maior igual a 18:
    if tem_carteira: # Se "idade" maior igual a 18 e se tem carteira
        print("Você pode dirigir.")  # Saída: Você pode dirigir.
    else: # Se "idade" maior igual a 18 e se não tem carteira
        print("Você precisa de uma carteira de motorista.")
else: # Se "idade" menor igual a 18
    print("Você é menor de idade e não pode dirigir.")

Você pode dirigir.

In [ ]:
# Estrutura com IF NOT
#if not: "Se isso NÃO for verdadeiro, execute o bloco de código.

tem_carteira = False

if not tem_carteira: #Se não tem carteira
    print("Você precisa de uma carteira de motorista.")

# É o mesmo que:

tem_carteira = False

if tem_carteira == False: #Se tiver carteira for falso
    print("Você precisa de uma carteira de motorista.")

Você precisa de uma carteira de motorista.
Você precisa de uma carteira de motorista.

## Match/Case

###O match/case é uma estrutura de controle que permite comparar um valor com vários padrões (cases) e executar um bloco de código correspondente ao padrão que for encontrado.

In [ ]:
numero = 2

match numero:
    case 1:
        print("Número é 1")
    case 2:
        print("Número é 2")  # Saída: Número é 2
    case 3:
        print("Número é 3")
    case _:
        print("Número desconhecido")

Número é 2

In [ ]:
# Exemplo com input ao usuário

idade = int(input("Digite sua idade: "))

match idade:
    case x if x < 0:
        print("Idade inválida!")
    case x if x < 18:
        print("Você é menor de idade.")
    case x if x >= 100:
        print("Você é centenário!")
    case _:
        print("Você é maior de idade.")

Digite sua idade: 40
Você é maior de idade.

# Estruturas de repetição

## For

“Para cada elemento em uma sequência, faça algo.”

In [ ]:
# For é um laço de repetição que percorre elementos de alguma sequencia requerida.

alunos = ["Ana", "Bruno", "Carla"]

for aluno in alunos:# Ou seja, para cada aluno em uma sequencia de alunos, execute o bloco abaixo.
    print("Entregando caderno para", aluno)

Entregando caderno para Ana
Entregando caderno para Bruno
Entregando caderno para Carla

### Exemplos

Iteração é o processo de percorrer um objeto iterável. Iterável é qualquer coisa que pode ser percorrida item por item em um laço for ou while.

In [ ]:
# Com números
numeros = [1, 2, 3, 4, 5]

for numero in numeros:
    print(numero) #Iterar é o mesmo que “passar item por item”

1
2
3
4
5

In [ ]:
#Com string

palavra = "Python"

for letra in palavra:
    print(letra)

P
y
t
h
o
n

### A função range()

#### Range significa "faixa ou sequencia" e gera uma sequência de números inteiros.

In [ ]:
#com range (stop)

for i in range(5): #Quando se declara um número no range, ele percorre do 0 a esse número, neste caso até o 5
    print(i)

0
1
2
3
4

In [ ]:
#com range(start, stop)

for i in range(2, 6):  #Quando se declara dois números, o primeiro define o inicio da sequencia e o segundo seu fim
    print(i)

2
3
4
5

In [ ]:
#com range(start, stop, step)

for i in range(1, 10, 2):  # o terceiro número indica o comportamento, o passo, de quanto em quanto vai pular, neste caso de 2 em 2.


    print(i)

1
3
5
7
9

In [ ]:
for i in range(10, 0, -2): #um passo negativo indica decrecimo
    print(i)

10
8
6
4
2

### Enumerate()

In [ ]:
nomes = ['Ana', 'João', 'Maria']

for indice, nome in enumerate(nomes): #enumerate() numera os elementos de uma lista (ou qualquer objeto iterável) automaticament
    print(f'{indice} - {nome}')

0 - Ana
1 - João
2 - Maria

## While

"Enquanto essa condição for verdadeira, repita esse bloco de código."

In [ ]:
contador = 5

while contador > 0: #enquanto contador for maior que 0
    print(contador) #printe contador
    contador -= 1  #Decrementa o contador em 1 a cada iteração

print("Fogo!")

### Interrupção: Break

In [ ]:
while True:
    numero = int(input("Digite um número (0 para sair): "))
    if numero == 0:
        break  # Interrompe o loop
    print(f"Você digitou: {numero}")

print("Loop encerrado.")

Digite um número (0 para sair): 6
Você digitou: 6
Digite um número (0 para sair): 0
Loop encerrado.

# Variáveis Compostas/Estrutura de dados

## Listas

As listas são um estrutura lineares mutável de dados.

In [ ]:
# Lista de números
numeros = [1, 2, 3, 4, 5]

# Lista de strings
frutas = ["maçã", "banana", "laranja"]

# Lista mista
mista = [1, "Python", 3.14, True]

print(numeros)
print(frutas)
print(mista)

In [ ]:
# Acessando a lista

frutas = ["maçã", "banana", "laranja"] #Cada elemento da lista tem um número de posição, chamado de índice.
# Índices começam do zero

print(frutas[0])  # Saída: maçã, posição 0, o primeiro item.
print(frutas[2])  # Saída: laranja, posição 2, o terceiro item.

maçã
laranja

In [ ]:
# Python também permite usar índices negativos para acessar de trás para frente
print(frutas[-1])  # "laranja", posição -1, o último item.
print(frutas[-3])  # "maça", posição -3, o primeiro item.

laranja
maçã

In [ ]:
# range() para acessar índices de uma lista

frutas = ["maçã", "banana", "laranja"]

for i in range(len(frutas)):
    print(f"Índice {i}: {frutas[i]}")

### Funções para a manipulação de listas

In [ ]:
# append()

frutas = ["maçã", "banana", "laranja"]
frutas.append("Jaca") # Adiciona um elemento ao final da lista.
print(frutas)

In [ ]:
# insert()
# Insere um elemento em uma posição específica da lista.

frutas = ["maçã", "banana", "laranja"]
frutas.insert(1, "morango")  # Insere "morango" na posição 1
print(frutas)

['maçã', 'morango', 'banana', 'laranja']

In [ ]:
# remove(), pop() e del

frutas = ["maçã", "banana", "laranja"]
frutas.remove("banana")  # Remove "banana".
frutas.pop(1)  # Remove o elemento na posição 1
del frutas[0]  # deleta o elemento na posição 0
print(frutas)  # Saída: []

[]

In [ ]:
#pop()

frutas = ["maçã", "banana", "laranja"]
frutas.pop(1) #A função pop() é usada para remover e retornar o elemento de uma posição específica da lista.

'uva'

In [ ]:
# clear()

frutas = ["maçã", "banana", "laranja"]
frutas.clear() # Remove todos os elementos da lista.
print(frutas)  # Saída: []

In [ ]:
# sort()

frutas = ["maçã", "banana", "laranja"]
frutas.sort() #Ordenar
print(frutas)

['banana', 'laranja', 'maçã']

## Matriz/Listas dentro de listas

In [ ]:
notas = [
    [8.0, 7.5, 9.0],  # aluno 1
    [6.5, 5.0, 7.0],  # aluno 2
    [10.0, 9.5, 9.0]  # aluno 3
]

print(notas[0][1])  # 7.5 → segunda nota do aluno 1, notas[linha][coluna]
print(notas[2][0])  # 10.0 → primeira nota do aluno 3, notas[linha][coluna]

7.5
10.0

In [ ]:
# Declaração por partes:

lanche = ['Lanche', 10.9]
batata = ['Batata', 5.5]
refri  = ['Refri' , 3.9]

cardapio = [lanche, batata, refri]
print(cardapio)

[['Lanche', 10.9], ['Batata', 5.5], ['Refri', 3.9]]

In [ ]:
# Declaração direta:

cardapio = [['Lanche', 10.9], ['Batata', 5.5], ['Refri' , 3.9]]
print(cardapio)
print(cardapio[1][0])

[['Lanche', 10.9], ['Batata', 5.5], ['Refri', 3.9]]
Batata

In [ ]:
cardapio = []
comida = []

for c in range(0, 3):
    comida.append(str(input('Nome da comida: ')))
    comida.append(float(input('Preço da comida: ')))
    cardapio.append(comida[:])
    comida.clear()  # limpando a memória da variável
print(cardapio)

Nome da comida: haah
Preço da comida: 33
Nome da comida: uuw
Preço da comida: 77
Nome da comida: hshsh
Preço da comida: 1
[['haah', 33.0], ['uuw', 77.0], ['hshsh', 1.0]]

## List comprehension

 É uma forma rápida e compacta de criar listas novas a partir de uma sequência

In [ ]:
# Forma tradicional:
quadrados = []
for i in range(5):
    quadrados.append(i * i) #os quadrados dos números de 0 até 4, ou seja, ele vezes ele mesmo.
print(quadrados)

[0, 1, 4, 9, 16]

In [ ]:
# Em list comprehension
quadrados = [i * i for i in range(5)] #Quadrado será i vezes i para cada i de 1 a 4.
print(quadrados)

In [ ]:
# Forma tradicional:
dobros = []                # Lista vazia
for n in range(1, 6):      # Para cada número de 1 até 5
    dobros.append(n * 2)   # Multiplica por 2 e adiciona na lista
print(dobros)

[2, 4, 6, 8, 10]

In [ ]:
## Em list comprehension
dobros = [n * 2 for n in range(1, 6)] #[expressão for item in iterável if condição]
print(dobros)

[2, 4, 6, 8, 10]

## Tuplas

As tuplas são uma estrutura de dados em Python semelhante às listas, mas com uma característica fundamental: são imutáveis.
Uma tupla é como uma caixa lacrada com valores.
Você pode olhar dentro da caixa, mas não pode trocar nada lá dentro.

In [ ]:
# Tupla de números
numeros = (1, 2, 3, 4, 5)

# Tupla de strings
frutas = ("maçã", "banana", "laranja")

# Tupla mista
mista = (1, "Python", 3.14, True)

print(numeros)
print(frutas)
print(mista)

(1, 2, 3, 4, 5)
('maçã', 'banana', 'laranja')
(1, 'Python', 3.14, True)

In [ ]:
# Acessando tuplas pelo índice

frutas = ("maçã", "banana", "laranja")

print(frutas[0])  # Saída: maçã

maçã

In [ ]:
# Das tuplas, pode-se "desempacotá-las" atribuindo seus valores a variáveis

coordenadas = (10, 20)
x, y = coordenadas  # Desempacotamento
print(x)  # Saída: 10
print(y)  # Saída: 20

10
20

### Manipulação com tuplas

In [ ]:
# Concatenar

tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)
tupla3 = tupla1 + tupla2
print(tupla3)  # Saída: (1, 2, 3, 4, 5, 6)

In [ ]:
# Repetir/Replicar

tupla = (1, 2)
tupla_repetida = tupla * 3
print(tupla_repetida)  # Saída: (1, 2, 1, 2, 1, 2)

(1, 2, 1, 2, 1, 2)

In [ ]:
# Verificar com in

frutas = ("maçã", "banana", "laranja")
print("banana" in frutas)  # Saída: True
print("uva" in frutas)     # Saída: False

True
False

In [ ]:
# Tamanho, com len()

numeros = (1, 2, 3, 4, 5)
print(len(numeros))  # Saída: 5

## Dicionário

Um dicionário guarda pares de informações: uma chave (nome) e um valor (dado). Por isso, sua estrutura é composta de chave:valor.

In [ ]:
aluno = {
    "nome": "Ana",
    "idade": 16,
    "nota": 9.5
}

#acessando valores:

print(aluno["nome"])   # Ana
print(aluno["nota"])   # 9.5

Ana
9.5

In [ ]:
alunos = {
    "aluno1": {"nome": "Ana", "idade": 16, "nota": 9.5},
    "aluno2": {"nome": "Bruno", "idade": 17, "nota": 8.0},
    "aluno3": {"nome": "Carla", "idade": 15, "nota": 10.0}
}

#acessando valores:
print(alunos["aluno3"]["nota"])

10.0

In [ ]:
for chave in alunos:
    print("ID:", chave)
    print("Nome:", alunos[chave]["nome"])
    print("Idade:", alunos[chave]["idade"])
    print("Nota:", alunos[chave]["nota"])
    print("---")

ID: aluno1
Nome: Ana
Idade: 16
Nota: 9.5
---
ID: aluno2
Nome: Bruno
Idade: 17
Nota: 8.0
---
ID: aluno3
Nome: Carla
Idade: 15
Nota: 10.0
---

### Manipulação de dicionário

In [ ]:
#Modificar Valor
fruta  =  { 'manga' :  10 ,  'laranja' :  10 ,  'melancia' :  1 }
print(fruta)
fruta[ 'manga' ] = 20
print(fruta)
print(fruta['manga'])

{'manga': 10, 'laranja': 10, 'melancia': 1}
{'manga': 20, 'laranja': 10, 'melancia': 1}
20

### Funções

In [ ]:
#A função  keys()  elenca uma lista de todas as chaves existente no dicionário.
fruta  =  { 'manga' :  10 ,  'laranja' :  10 ,  'melancia' :  1 }
print (fruta.keys())

dict_keys(['manga', 'laranja', 'melancia'])

In [ ]:
# A função values()  elenca uma lista de todas os valores existente no dicionário.
fruta  =  { 'manga' :  10 ,  'laranja' :  10 ,  'melancia' :  1 }
print (fruta.values())

dict_values([10, 10, 1])

In [ ]:
# A função itens()  elenca uma lista com todos os pares de chaves e valores existente no dicionário.

fruta  =  { 'manga' :  10 ,  'laranja' :  10 ,  'melancia' :  1 }
print (fruta.items())

dict_items([('manga', 10), ('laranja', 10), ('melancia', 1)])

In [ ]:
# A função copy() forma copia de todos os itens de um dicionário
fruta  =  { 'manga' :  10 ,  'laranja' :  10 ,  'melancia' :  1 }
frutas_2 = fruta.copy()
print(frutas_2)

{'manga': 10, 'laranja': 10, 'melancia': 1}

In [ ]:
# A função clear() apaga todos os itens do dicionário
fruta  =  { 'manga' :  10 ,  'laranja' :  10 ,  'melancia' :  1 }
fruta.clear()
print(fruta)

In [ ]:
# A função get() retorna o valor correspondente a chave
fruta  =  { 'manga' :  10 ,  'laranja' :  10 ,  'melancia' :  1 }
print (fruta.get( 'manga' ))

10

In [ ]:
# se a chave requedida com get() não existir, ela retornará um valor padrão (vazio)
fruta  =  { 'manga' :  10 ,  'laranja' :  10 ,  'melancia' :  1 }
print (fruta.get( 'pera' ))

None

In [ ]:
# a função update() insere itens no dicionário (chave-valor).
fruta  =  { 'manga' :  10 ,  'laranja' :  10 ,  'melancia' :  1 }
fruta.update({'uva':15})
print(fruta)

{'manga': 10, 'laranja': 10, 'melancia': 1, 'uva': 15}

In [ ]:
# A função pop () é usada para remover um elemento com uma chave específica.
fruta  =  { 'manga' :  10 ,  'laranja' :  10 ,  'melancia' :  1 }
fruta.pop('manga')
print (fruta)
# A palavra pop, em inglês, pode ser traduzida como “estourar”, “retirar com um estalo” ou até mesmo “tirar rapidamente”.

{'laranja': 10, 'melancia': 1}

In [ ]:
# A função len() descreve o tamanho do dicionário
fruta  =  { 'manga' :  10 ,  'laranja' :  10 ,  'melancia' :  1 }
print (len(fruta))

3

# Funções

uma função é um bloco de código organizado que executa uma tarefa específica e pode ser reutilizada várias vezes em um programa.
- Vem de "define" (em inglês, "definir").

In [ ]:
def media_num(n1, n2): # def indica que é uma função, "media" é seu nome. E dentro de () é o parametro recebido.
    media = (n1 + n2) / 2
    return media #return indica a ação que será realizada, devolve um valor

num1 = float(("Digite o primeiro valor: "))
num2 = float(input("Digite o segundo valor: "))

media = media_num(num1, num2) #nome_da_função(parametros) chama a função
print("A média dos valores é: ", media)

Digite o primeiro valor: 7.5
Digite o segundo valor: 8
A média dos valores é:  7.75

In [ ]:
def contar_palavras(frase):
    palavras = frase.split()
    return len(palavras)

frase_teste = input("Digite uma frase: ")
qnt_palavras = contar_palavras(frase_teste)
print(f'A frase tem {qnt_palavras} palavras!')

Digite uma frase: amigo
A frase tem 1 palavras!

In [ ]:
def saudacao(nome):
    print(f"Olá, {nome}!")

saudacao("Davi")
saudacao("Carlos")
saudacao("Maria")
saudacao("Pedro")

# Funções também são chamadas de Sub-programas, Sub-rotinas e Procedimentos ​

Olá, Davi!
Olá, Carlos!

# Manipulação de Arquivos

In [ ]:
file = open("frutas_feira.txt", "a")
print(file)

<_io.TextIOWrapper name='frutas_feira.txt' mode='a' encoding='utf-8'>

In [ ]:
file = open("frutas_feira.txt", "r")
print(file)

<_io.TextIOWrapper name='frutas_feira.txt' mode='r' encoding='utf-8'>

In [ ]:
file = open("frutas_feira.txt", "r")
conteudo = file.read()
print(conteudo)
file.close()

Fruta          | Preço por Kg (R$)
-----------------------------------
Banana         | 4,50
Maçã           | 7,00
Laranja        | 3,80
Abacaxi        | 6,50 (unidade)
Melancia       | 5,00 (unidade)
Uva            | 9,00
Mamão          | 5,50
Manga          | 4,20
Morango        | 10,00 (bandeja)
Limão          | 2,50

In [ ]:
arquivo = open("frutas_feira.txt","a")
arquivo.write("Eu quero salvar um arquivo!!!")
arquivo.close()

conteudo = arquivo.read()
print(conteudo)
arquivo.close()

Fruta          | Preço por Kg (R$)
-----------------------------------
Banana         | 4,50
Maçã           | 7,00
Laranja        | 3,80
Abacaxi        | 6,50 (unidade)
Melancia       | 5,00 (unidade)
Uva            | 9,00
Mamão          | 5,50
Manga          | 4,20
Morango        | 10,00 (bandeja)
Limão          | 2,50
Eu quero salvar um arquivo!!!Eu quero salvar um arquivo!!!

In [ ]:
arquivo = open("frutas_feira.txt", "r", encoding="utf8") #encoding="utf8" é a codificação de caracteres que informa ao Python como deve interpretar os símbolos, letras e caracteres especiais do arquivo.

print(arquivo.read())

arquivo.close()

Fruta          | Preço por Kg (R$)
-----------------------------------
Banana         | 4,50
Maçã           | 7,00
Laranja        | 3,80
Abacaxi        | 6,50 (unidade)
Melancia       | 5,00 (unidade)
Uva            | 9,00
Mamão          | 5,50
Manga          | 4,20
Morango        | 10,00 (bandeja)
Limão          | 2,50
Eu quero salvar um arquivo!!!Eu quero salvar um arquivo!!!

In [ ]:
arquivo = open("frutas_feira.txt", "r", encoding="utf8")

print(arquivo.readline())

arquivo.close()

Fruta          | Preço por Kg (R$)

In [ ]:
nome_arquivo = "frutas_feira.txt"
arquivo = open(nome_arquivo,"r",encoding="utf8")
for linha in arquivo:
  print(linha)

arquivo.close()

Fruta          | Preço por Kg (R$)

-----------------------------------

Banana         | 4,50

Maçã           | 7,00

Laranja        | 3,80

Abacaxi        | 6,50 (unidade)

Melancia       | 5,00 (unidade)

Uva            | 9,00

Mamão          | 5,50

Manga          | 4,20

Morango        | 10,00 (bandeja)

Limão          | 2,50

Eu quero salvar um arquivo!!!Eu quero salvar um arquivo!!!